@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
body{
    background: #000;
}
.container{
    position: relative;
    font-family: 'Bad Script', cursive;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 30em;
}